/*===============================contact======================*/


.contact__container{
    background: var(--dark-blue);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}

/*===============================santize======================*/
.contact__aside{
    background: var(--color-dark);
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside__image{
    width: 12rem;
    margin-bottom: 2rem;
}

.contact__aside h2{
    text-align: left;
    margin-bottom: 1rem;
}

.contact__aside p{
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact__details li{
    display:flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact__socials{
    display:flex;
    gap: 0.8rem;
    margin-top: 3rem;
}
/* 
.contact__socials .a{
    background: var(--color-bg1);
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.contact__socials .a:hover{
    background: transparent;
} */


/*===============================form======================*/
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    position: absolute;
    margin-top: 0;
    margin-left: 30rem;
    margin-right: 4rem;
}

.form__name{
    display:flex;
    gap:1rem;
}

.contact__form input[type="text"]{
    width: 50%;
}

input, textarea{
    border: 2px solid black;
    width: 100%;
    padding: 1rem;
    background: var(--dark-blue);
    color: var(--color-white);
}

.contact__form .btn{
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
}
